.homelogo {
    width: 60%;
}

html {
    background:#419197 ;
    padding: .5%;
   
}

#nav-backgrounds {
    background: #12486B ;
       
}

.navtext {
    font-size: 1.2em;

}

.white {
    color: lightgray;
    font-style: italic;
    font-weight: 500;

}

.light-yellow {
    color: #F5FCCD;
    font-style: italic;
    
    
}

.statement {
   font-style: italic;

}

.featured {
    background-color:#419197 ;
    margin: 1%
    
}

.message {

    padding-top: 5%;
       
}

.highlighted {
    font-size: 2rem;
    font-weight: 500;
}

.gatheringhumanity {
    width: 100%;
    padding-top: 2%;
}


.refrenced {
   justify-items: center;
   height: 183px;
   text-align: center;
   
}

.blocked {
    text-align: justify;
}

.buttons {
    text-align: center;
    padding-bottom: 1.5%;
}



.featuredfood {
    background-color:#419197 ;
    color: white;
        
}


.light-green {
    color: #35A29F;
}

.dark-blue {
    color: #071952;
}

.bold-black {
    color: black;
    font-style: italic;
    font-weight: bold;
}

#hunger {
    background-color: #419197;
    text-align: center;
}

.picture-links {
    display: inline-block;
    padding-right: 2%;
    }

.communities {
    color: white;
    font-style: italic;
}

.featured-food {
    background-color:#419197 ;
        
}

.financial-back {
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}

.housing-background {
    background-color: #419197;
}

.white-letters {
    color: white;
}

.housinglogo {
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.9), 0 6px 20px 0 rgba(255, 255, 255, 0.9);
}


.housing-box {
	background-color: aliceblue;
}











/* banner section styles */
.banner {
	text-align: center;
	background-color: #ffffff;
	margin: 0 auto;
}

.banner img {
	max-width: 100%;
	height: auto;
}
/* Contact form styles */
.contact-form {
	padding: 40px 0;
	margin: 0 10px;
}

.form-container {
	max-width: 40%;
	margin: 0 auto;
	padding: 20px;
	background-color: #419197;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
	text-align: center;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 20px;
}

.form-container label {
	display:block;
	font-weight: bold;
}
.form-container input, textarea{
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
	resize: vertical;
}
.submit-button {
	padding: 10px 20px;
	background-color: #0dac30;
	border: none;
	color: white;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
}

/* Contact info styles */
.contact-info {
	text-align: center;
	padding: 50px 0;
	background-color: #419197;
}

.contact-info h2 {
	margin-bottom: 20px;
}

/* Footer styles */
footer {
	padding: 20px;
	text-align: center;
	background-color: #12486B;
	color: white;
}
/* Hamburger styles */
.hamburger {
	display: none;
	color: rgb(0, 0, 0);
	font-size: 1.5rem;
	cursor: pointer;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
	.logo {
		display: none;
	}

	.hamburger {
		display: flex;
	}

	#nav-menu {
		position: absolute;
		top: 4rem;
		left: 0;
		background-color: #333;
		width: 100%;
		display: none;
	}

	#nav-menu.active {
		display: block;
		flex-direction: row;
		padding: 1rem;
	}
}

	.banner-image {
  width: 57%;
  	}